h2 Configuration
div(role='tabpanel')
    ul.nav.nav-tabs(role='tablist')
        li.active(role='presentation')
            a#cfg-ssid(role='tab', href='#ssid', aria-controls='ssid', data-toggle='tab') Access point
        li(role='presentation')
            a#cfg-bssid(role='tab', href='#bssid', aria-controls='bssid', data-toggle='tab') Mac address
div.tab-content
    div#ssid.tab-pane.active(role='tabpanel')
        table.table.table-striped.table-hover
            tr
                th Name
                th Company
                th Zone
            tr(ng-repeat='ssid in ssidList',ng-cloak)
                td {{ssid.ap}}
                td {{ssid.company}}
                td {{ssid.zone}}
    div#bssid.tab-pane(role='tabpanel')
        div bssid