doctype html
html(ng-app="homepass-pi",ng-controller="ApplicationCtrl")
    head
        title Homepass-pi
        link(rel='stylesheet', href='/public/components/bootstrap/dist/css/bootstrap.min.css')
        base(href="/")
    body
        div#main-container.container
            nav.navbar.navbar-default
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href='/') Homepass-pi
                    div.collapse.navbar-collapse
                        ul.nav.navbar-nav(ng-controller="MenuBarCtrl")
                            li(ng-class="{ active: isActive('/dashboard')}")
                                a(href='/dashboard') Accueil
                            li(ng-class="{ active: isActive('/configuration')}")
                                a(href='/configuration') Configuration
                        div.nav.navbar-nav.navbar-right(ng-controller='InfoBoxCtrl',ng-cloak)
                            span.label.label-default {{hostapd.currentSsid}} - {{hostapd.currentBssid}}
                            a#hostapd-toggle.ctrl.require-conn.navbar-btn.btn(href='#',ng-class="hostapd.scheduled ? 'btn-danger' : 'btn-success'",ng-click='toggleApp()')
                                span(ng-if='hostapd.scheduled') Stop
                                span(ng-if='!hostapd.scheduled') Start
                            a#hostapd-refresh.ctrl.require-conn.navbar-btn.btn.btn-link(href='#',ng-click='refreshApp()')
                                span.glyphicon.glyphicon-refresh
            div.container-wrapper.clearfix
                div.col-md-8
                    div#main-view
                        div(ng-view)
                    br.clearfix
                    br.clearfix
                div.sidebar.col-md-4
                    include fragments/info_box.pug

                    h6 Console
                    ul(ng-cloak)
                        li(ng-repeat='log in logs | reverse')
                            span(title='{{log.date}}',class="label label-{{log.type}}") {{log.tag}}
                            span(class="{{'text-' + log.type}}")  {{log.msg}}

        script(src='/public/components/angular/angular.min.js')
        script(src='/public/components/angular-route/angular-route.min.js')
        script(src='/public/components/jquery/dist/jquery.min.js')
        script(src='/public/components/bootstrap/dist/js/bootstrap.min.js')
        script(src='/public/components/moment/min/moment-with-locales.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/public/javascripts/application.js')