doctype html
html
  head
    title Homepass-pi | #{title}
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#main-container.container
        div.col-md-8
            h1 Homepass-pi 
                small #{title}
            block content
            br.clearfix
            br.clearfix
        div.sidebar.col-md-4
            ul#log-list

    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/jquery-2.1.3.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/moment-with-locales.min.js')
    script(src='/javascripts/client.js')
