body {
    padding-top: 25px;
    background: #EEE;
}

#main-container > div.container-wrapper {
    background: #FFF;
    border-radius: 3px;
}

.sidebar ul {
    list-style: none none;
    padding-left: 0;
}
