h2 Configuration
div(role='tabpanel')
    ul.nav.nav-pills(role='tablist')
        li.active(role='presentation')
            a(role='tab',href='#ssid',aria-controls='ssid') Access point
        li(role='presentation')
            a(role='tab',href='#bssid',aria-controls='bssid') Mac address
div.tab-content
    div#ssid.tab-pane.active(role='tabpanel')
        h4 Access point name
        table.table.table-striped.table-hover
            tr
                th Name
                th Company
                th Zone
                th Use
            tr(ng-repeat='ssid in ssidList',ng-cloak)
                td {{ssid.ap}}
                td {{ssid.company}}
                td {{ssid.zone}}
                td
                    input(type='radio',name="ssid",value='#{ssid.ap}',ng-click="setSsid(this)",ng-checked="ssid.ap == currentSsid")
    div#bssid.tab-pane(role='tabpanel')
        h4 Mac address
        table.table.table-striped.table-hover
            tr
                th MAC
                th Suggested Streetpass Gameth
                th Use
            tr(ng-repeat='bssid in bssidList',ng-cloak)
                td {{bssid.mac}}
                td {{bssid.name}}
                td
                    input(type='checkbox',value='#{bssid.mac}',onClick="addRemoveBssid()",ng-checked="bssidUseList.indexOf(bssid.mac) !== -1")